@import 'https://fonts.googleapis.com/css?family=Prompt:500';
@import 'https://fonts.googleapis.com/css?family=Oswald';
@import 'https://fonts.googleapis.com/css?family=Baloo+Paaji';
@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);
@import 'https://fonts.googleapis.com/css?family=Orbitron:900';
body {
    
    cursor: url(images/favicon.html), auto;
    background: url(#) no-repeat center center fixed;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    
}


.kv{
    background-color: rgba(11, 11, 11, 0.15);
    position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        margin-top: -140px;
        height: 390px;
        z-index: 1000;
}
ul{
    text-align: left;
    font-size: 150%;
}
li{
    display: inline; /* Display as line item */
    margin-right: 5px; /* Left indent */
    padding: 3px; /* Fields around text */
}
a{
    text-decoration: none;
    color: #fff;
}
.center{
    width: 400px; /* Layer width in pixels */
    margin: 0 auto; /* Indent left and right */
    padding: 10px; /* Fields around text */
    text-align: center; /* Align the contents of the layer to the left */
}
.nick{
    font-size:30px;
    font-family: 'Orbitron', sans-serif;
    margin-top: -1%;
}
.nc{
    margin-top: -5%;
}
.st{
    font-size: 15px;
}

.sexo-title{
  transform: rotateX(33deg) rotateY(30deg);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.8), 3px 3px 0 rgba(255,255,255,0.6), 5px 5px 0 rgba(255,255,255,0.4);
  animation: awesomeRotate 4s infinite;
}




@keyframes awesomeRotate {
  0% {
    transform: scale3d(1,1,1) rotateX(0deg);
    text-shadow: 0 0 0 rgba(255,255,255,0), 1px 1px 0 rgba(255,255,255,0.8), 1px 2px 0 rgba(255,255,255,0.6), 1px 3px 0 rgba(255,255,255,0.4);
  }

  50%{
    transform: scale3d(2,2,2) rotateX(50deg);
    text-shadow: 0 0 10px rgba(255,255,255,0.8), 1px 1px 0 rgba(255,255,255,0.8), 1px 3px 0 rgba(255,255,255,0.6), 1px 5px 0 rgba(255,255,255,0.4);
  }

  100% {
    transform: scale3d(1,1,1) rotateX(0deg);
    text-shadow: 0 0 0 rgba(255,255,255,0), 1px 1px 0 rgba(255,255,255,0.8), 1px 2px 0 rgba(255,255,255,0.6), 1px 3px 0 rgba(255,255,255,0.4);
  }
}

.pictureContainer {
	
    display: inline-block;
    float: left;
    height: 84px;
    margin: 5px;
    overflow: hidden;
    width: 300px;
	box-shadow: 0px 0px 25px -15px rgba(0,0,0,0.75);
}
 
.pictureContainer img {
    position: relative;
    top: 0px;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
 
.pictureContainer img.slideIn {
    animation-name: inKeyframes;
}
 
.pictureContainer img.slideOut {
    animation-name: outKeyframes;
}

.video-container {
position:fixed;
top:0;
bottom:0;
left:0;
right:0;
z-index: 1;
}

.video-container video {
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
transform: translate(-50, -50);
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
filter: blur(12px);
-webkit-filter: blur(12px);
}

.video-container::after{
content:'';
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
background-image:url('../../media/overlay.png');
background-repeat:repeat;
}
